<div class="row">
  <div class="col-md-9">
    <h1>Manage your trades online now</h1>
    <a href="/auth/google_oauth2" class="btn btn-success">Sign up for free</a>
    <%= image_tag 'graph.jpg', alt: 'Trade online today', width: '600px', style: 'float: right' %>
  </div>
</div>

