.form__currency {
}

input[type=number] {
  text-align: right;
}
.field_with_errors input,
.field_with_errors select {
  border-color: red;
}

.form_group {
  padding-top: 10px;
  padding-bottom: 10px;
}
